@media (max-width: 990px){
  #coll_info .wrap_info_product{
		display: block;
		width: 100%;
	}
	#coll_info .wrap_info_product .wrap_img_product{
		text-align: center;
		width: 200px;
		margin: 0 auto;
	}
	#coll_info .wrap_info_product .wrap_text_product{
		width: 60%;
		margin: 0 auto;
	}
}


@media (max-width: 550px){
	#coll_info .wrap_info_product .wrap_text_product{
		width: 100%;
	}
	#coll_info .wrap_info_product .wrap_text_product div{
		margin-bottom: 5px;
	}
}

@media (max-width: 330px){
	h1{
		font-size: 23px;
	}
}

@media (max-width: 450px){
	#video-bg{
		height: 100vh;
		background-image: url(../images/bgMobile.jpg);
		background-size: cover;
	}

	video{
		display: none;
	}

	h1{
		font-size: 30px;
    	margin-top: 70px;
	}

	.content_main_block{
		width: 100%;
	}

	.content_main_block a{
		font-size: 13px;
	}

	.white-popup-block{
		width: 90% !important;
	}

	#coll_info{
		width: 100% !important;
	}

	.header-area{
		top: 0px;
	}


}
