@media (max-width: 990px){
  #coll_info .wrap_info_product{
		display: block;
		width: 100%;
	}
	#coll_info .wrap_info_product .wrap_img_product{
		text-align: center;
		width: 200px;
		margin: 0 auto;
	}
	#coll_info .wrap_info_product .wrap_text_product{
		width: 60%;
		margin: 0 auto;
	}

	.deshes-area h1:after{
	display: none;
	}
}


@media (max-width: 680px){
  .wrap_info_slaiders_main .title_slaiders_main{
    font-size: 18px;
  }
  .wrap_info_slaiders_main .desc_slaiders_main {
    font-size: 12px;
  }
  .wrap_info_slaiders_main .desc_slaiders_main{}
  .wrap_info_slaiders_main .desc_slaiders_main a{
    font-size: 12px;
    padding: 7px 12px !important;  
  }
}

@media (max-width: 550px){
	#coll_info .wrap_info_product .wrap_text_product{
		width: 100%;
	}
	#coll_info .wrap_info_product .wrap_text_product div{
		margin-bottom: 5px;
	}
}

@media (max-width: 330px){
	h1{
		font-size: 23px;
	}
}



@media (max-width: 450px){
	#video-bg{
		height: 100vh;
		background-image: url(../images/bgMobile.jpg);
		background-size: cover;
	}

	video{
		display: none;
	}

	h1{
		font-size: 30px;
    	margin-top: 70px;
	}

	.content_main_block{
		width: 100%;
	}

	.content_main_block a{
		font-size: 13px;
	}

	.white-popup-block{
		width: 90% !important;
	}

	#coll_info{
		width: 100% !important;
	}

	.header-area{
		top: 0px;
	}

	.wrap_btn_info .div_btn_info{
		width: 50% !important;
	}
}

@media (min-width: 450px) and (max-width: 770px){
	h1{
		font-size: 25px;
	}

}


@media (max-width: 1100px){
	.wrap_btn_info .div_btn_info{
		width: 80%;
	}

	.main-menu ul li ul.sub-menu{
		left: 0%;
	}
}

@media (max-width: 991px){
  .main-menu ul li{padding: 7px;}
  .main-menu ul li a{
    padding: 0px;
  }
	.menu-contact-info{display: none;}
  .main-menu ul li.mobile-contact-menu{display: inline-block;}
}
